/*---GLOBAL--STYLES---*/

html {
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-image: url('../images/billie_holiday_@2X.png');
}


/*---Angular--UI--Bootstrap--Globals---*/

.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.row {}


/*---Directive---Template--Styles---*/

.parent {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.image {
  width: 100%;
  height: auto;
}

.search-btn {
  display: inline-block;
}


/*---Navbar--Styles---*/

.nav-bar {
  position: relative;
  background-color: #685474;
}

.nav-bar h1 {
  margin-top: 0;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: white;
}

.top-right {
  position: absolute;
  top: 2px;
  right: 10px;
  color: white;
}

.top-right a {
  text-decoration: none;
  color: white;
  margin-right: 5px;
}

.top-right a:visited {
  color: white;
}


/*---Input--Styles---*/

form {
  margin: 0 auto;
  text-align: center;
}

.form-control {
  margin: 0 auto 30px;
  max-width: 300px;
  display: inline-block;
}

p.caption {
  min-height: 70px;
  max-height: 70px;
  overflow: scroll;
}

div.thumbnail {
  background-color: #1f122c;
}

.thumbnail .caption {
  color: white;
}

.btn1 {
  background-color: #685474;
  border-color: #685474;
}

.btn1:visited {
  background-color: #685474;
  border-color: #685474;
}


/*---flexbox---styles---*/


/*div.images {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

div.images .img-parent {
  margin: 5px;
  max-width: 25vw;
  min-width: 25vw;
  height: 100%;
  border: 1px solid black;
  opacity: .6;
}

div.img-parent:hover {
  opacity: 1;
}

div.images .img-parent img {
  height: 100%;
  width: 100%;
}


media-queries

@media screen and (max-width: 480px) {
  div.images .img-parent {
    min-width: 30vh;
    max-width: 30vh;
  }
}

@media screen and (min-width: 481px && max-width: 800px) {
  div.images .img-parent {
    min-width: 35vh;
    max-width: 35vh;
  }
}

@media screen and (min-width: 801px) {
  div.images .img-parent {
    margin: 5px;
    max-width: 25vw;
    min-width: 25vw;
    height: 100%;
    border: 1px solid black;
  }
}*/